.dashboard {
    font-family: Georgia, serif;
    background-image: url(img/container.jpg);
    margin: 0 auto;
    top: 30 px;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px #eee;
    max-width: 500px;
    padding-top: 0px;
    margin-top: -20px;
    height: 130px;
  }
  .dashboard_party {
    font-family: Georgia, serif;
    background-image: url(img/container.jpg);
    margin: 0 auto;
    top: 30 px;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px #eee;
    max-width: 500px;
    padding-top: 0px;
    margin-top: -20px;
    height: 120px;
  }
#logout{

    font-family: Georgia, serif;
    opacity: 0.9;

}

.jeu {
  font-family: Georgia, serif;
  background-image: url(img/container.jpg);
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  box-shadow: 2px 5px 5px 0px #eee;
  max-width: 500px;
  padding-top: 0 px;
  margin-top: -400px;
  height: 500px;
}
