<div class="dashboard">
<h1 class="mt-4">Jeu de dammes</h1>
<p class="lead mb-3">Hello <%= user.name %></p>
<a id="logout" href="/users/logout" class="btn btn-primary">Logout</a>

</div>

<div class="liste">
    <h3>Utilisateurs Connectés</h3>
    <div class="users-list"></div>
    </div>
