
       <div class="container2">
              <!---heading---->
              <form method="POST" action="/users/login">
                     <header class="heading">Connexion au jeu de damme</header>
                     <hr>
                     </hr>
                     <!---Form starting---->
                     <%- include ('./partials/messages') %>
                     <div class="row ">


                            <div class="col-sm-12">
                                   <div class="row">
                                          <div class="col-xs-4">
                                                 <label class="pass">E_mail :</label></div>
                                          <div class="col-xs-7">
                                                 <input type="email" name="email" id="email"
                                                        placeholder="Entrez votre mail" class="form-control">
                                          </div>
                                   </div>
                            </div>

                            <div class="col-sm-12">
                                   <div class="row">
                                          <div class="col-xs-4">
                                                 <label class="pass">Entrez un mot de passe :</label></div>
                                          <div class="col-xs-7">
                                                 <input type="password" name="password" id="password"
                                                        placeholder="Entrez un mot de passe" class="form-control">
                                          </div>
                                   </div>
                            </div>

                            <div>
                                   <input class="btn btn-warning" type="submit" name="forminscription"
                                          value="Se connecter" />

                            </div>

                     </div>

              </form>

              <p class="lead mt-4">
                     Pas de compte ? <a href="/users/register">S'enregistrer</a>
                   </p>


       </div>
