<div class="dashboard_party">
    <h1 class="mt-4"><h2 class="mt-4">Partie <%= user.name %> </h2>
    <p class="lead mb-3"><h4 class="mt-4">En attente de l'autre joueur ... </h4> </p>
    <a id="logout" href="/users/logout" class="btn btn-primary">Logout</a>
    
    </div>
    
    <div class="liste">
        <h3>Utilisateurs Connectés</h3>
        <div class="users-list"></div>
        </div>
 
<div class="jeu">  
<div id="principal" class="damier"></div>
</div> 
