<div class="container2">
  <header class="heading"><p>Bienvenue sur notre jeu de damme</p></header>
  <hr>
  </hr>
  <div class="row mt-12">
    <div class="col-md-12 m-auto">
      <div class="card  text-center">
        <a href="/users/login" class="btn btn-primary btn-block">Se connecter</a>
        <a href="/users/register" class="btn btn-primary btn-block mb-8">S'inscrire</a>
      </div>
    </div>
  </div>
</div>