.container2 {
    font-family: Georgia, serif;
    background-image: url(img/container.jpg);
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px #eee;
    max-width: 550px;
    padding-top: 10px;
    margin-top: 166px;
    height: 300px;
  }